extends layout

block content

	h1 Hello #{player1}
	
	form(method="post", action="/game")
		button(type="submit", name="name", value="rock") rock
		button(type="submit", name="name", value="paper") paper
		button(type="submit", name="name", value="scissors") scissors




	